body
{
    background-color: beige;
}

p
{
    font-size: xx-large;
    font-style: oblique;
    -webkit-text-fill-color: rgb(20, 50, 220);
}

nav 
{
    font-size: medium;
    font-style: inherit;
    -webkit-text-fill-color: rgb(88, 205, 209);
}

section
{
    font-size: 120%;
    font-style: initial;
    -moz-background-clip: rgb(213, 20, 220);
}

aside
{
    font-size: x-large;
    font-style: italic;
    -webkit-text-fill-color: crimson;
}